<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>logout</title>
</head>
<body style="background: green; text-decoration: none; color: black;font-size: 20px;">
    <div style="float: left; clear: both; display: block;">
        <a href="{% url 'home' %}">HOME</a>
        <a href="{% url 'register' %}">REGISTER</a>
        <a href="{% url 'login' %}">LOGIN AGAIN</a>
    </div>
</body>
</html>